<nav>
  <a href="#">MIMINO</a>
  <ul>
    <li>
      <a href="#">Ресторан</a>
    </li>
    <li>
      <a href="tel:+380955559533">095 555 95 33</a>
    </li>
    <li>
      <a href="#">Готель</a>
    </li>
    <li>
      <a href="tel:+380668491089">066 849 10 89</a>
    </li>
    <li>
      <a href="tel:+380672758540">067 275 85 40</a>
    </li>
  </ul>
  <ul>
    <li>
      <a href="#" target="_blank"></a>
    </li>
    <li>
      <a href="#" target="_blank"></a>
    </li>
    <li>
      <a href="#" target="_blank"></a>
    </li>
  </ul>
</nav>
<section></section>