<div class="wrapper">
    <h1 class="title">Swiper</h1>
    <div class="image-slider swiper-container">
        <div class="image-slider__wrapper swiper-wrapper">
            <div class="image-slider__slide swiper-slide">
                <div class="image-slider__image">
                    <img src="./images/slider1.jpg" alt="Картинка">
                </div>
            </div>
            <div class="image-slider__slide swiper-slide">
                <div class="image-slider__image">
                    <img src="./images/slider2.jpg" alt="Картинка">
                </div>
            </div>
            <div class="image-slider__slide swiper-slide">
                <div class="image-slider__image">
                    <img src="./images/slider3.jpg" alt="Картинка">
                </div>
            </div>
        </div>
        <div class="swiper-button-prev">
            <svg width="270" height="270">
                <use href="./images/sprite.svg#icon-swiper-heder-prev"></use>
            </svg>
        </div>
        <div class="swiper-button-next"></div>
    </div>
</div>